.btn-dark {
    color: #F8F8F8;
    background-color: #b01f23;
    border: none;
    border-radius: 0%;
    margin: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: background-color 400ms;
}

.btn-dark:hover {
    background-color: #F3A51E;
    transition-duration: 400ms;
}

.card {
    transition: all 500ms ease-in-out;
}

.card:hover {
    transform: scale(0.98);
}

.card-img-top {
    align-self: center;
    height: 200px;
}

.card-title {
    font-weight: 600;
}

.card-text {
    text-align: center;
}

.a-single-destination {
    color: inherit;
    text-decoration: inherit;
}

.a-single-destination:hover {
    color: inherit;
}