.f-tours-yellow {
  background-color: #ff8c00;
  height: 25px;
  outline: none;
}

.f-tours-red {
  background-color: #b11f23;
  height: 25px;
  outline: none;
}

.f-tours-purple {
  background-color: #7c2d83;
  height: 25px;
  outline: none;
}

.container-footer {
  background-color: #28397e;
  padding-left: 10%;
  padding-right: 10%;
}

.row-footer {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.col-footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-footer-info {
  padding-right: 15px;
}

.h5-footer {
  color: #f8f8f8;
  text-transform: uppercase;
  font-size: large;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-footer {
  color: #f8f8f8;
  font-size: 14px;
}

.span-bold {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.a-contact {
  color: #f8f8f8;
  text-decoration: none;
  transition: color 400ms;
}

.a-contact:hover {
  color: #000215;
  font-weight: 600;
  transition-duration: 400ms;
}

.div-footer-social {
  display: flex;
  flex-direction: row;
}

.fa-brands.footer {
  color: #f8f8f8;
  font-size: 35px;
  padding: 5px 10px 5px 10px;
  transition: color 400ms;
}

.fa-brands.footer:hover {
  color: #000215;
  font-size: 35px;
  padding: 5px 10px 5px 10px;
  transition-duration: 400ms;
}

/*.search-footer {
    padding-bottom: 20px;
}

.search-footer-input {
    background-color: #000a4a;
    border: 0px;
    color: #F8F8F8;
    height: 40px;
    padding-left: 10px;
}

.search-footer-input::placeholder {
    color: #f8f8f890;
    border-radius: 0px;
}

.search-footer-input:active {
    border: 0px;
}

.btn-search {
    background-color: #000a4a;
    color: #F8F8F8;
    border: 0px;
    height: 40px;
    width: 35px;
}*/
.redDoli{display: flex;}
.logocont {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.a-pravila-uvjeti {
  color: #f8f8f8;
  cursor: pointer;
  display: block;
  font-size: 14px;
  transition: color 400ms;
  text-decoration: none;
  padding: 5px 0px 5px 0px;
}

.a-pravila-uvjeti:hover {
  color: #000215;
  font-weight: 600;
  transition-duration: 400ms;
}

.f-tours-dark-blue {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #000a4a;
  height: 30px;
  outline: none;
  padding-right: 30px;
}

.copyright {
  color: #f8f8f890;
  font-size: 12px;
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .row-footer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
.redDoli{flex-direction: column;}
  .col-footer-social {
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .f-tours-dark-blue {
    padding-right: 10px;
  }
  .logocont {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .row-footer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .redDoli{flex-direction: column;}

  .col-footer-social {
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .f-tours-dark-blue {
    padding-right: 10px;
  }

  .copyright {
    font-size: 11px;
  }
  .logocont {
    flex-direction: column;
    align-items: center;
  }
  .bigLogo{
    width: 10em!important;
  }
  .smallLogo {
    width: 7em!important;
  }
}
