.stepContainer {
  display: flex;
  flex-direction: column;
}
.stepContainer2 {
  display: flex;
  text-align: start;
  color: black;
  flex-direction: column;
  width: 100%;
padding: 12px;
}
.containerForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  align-items: center;
}
input {
  width: 100%;
  padding: 6px;
  border: 1px solid #9b9a9a;
  margin-bottom: 16px;
}
.inputContOver{
  display: flex;
}
.inputContOver button {
  height: 32px;
  width: 32px;
}
.inputContOver button i{
 margin-right: 0px;
 color:rgb(36, 36, 36)
}
.inputOver:disabled{
  width: 100%;
  padding: 3px;
  font-size: 12;
  background-color: #c5c3c3;
  border: 1px solid #9b9a9a;
  margin-bottom: 16px;
}
.inputOver {
  width: 100%;
  padding: 3px;
  font-size: 12;
  border: 1px solid #9b9a9a;
  margin-bottom: 16px;
}
.selectOver:disabled{
  width: 100%;
  padding: 3px;
  font-size: 12;
  background-color: #c5c3c3;
  border: 1px solid #9b9a9a;
  margin-bottom: 16px;
}
.selectOver{
  width: 100%;
  padding: 3px;
  font-size: 12;
  background-color: transparent;
  border: 1px solid #9b9a9a;
  margin-bottom: 16px;
}
select {
  width: 100%;
  padding: 6px;
  background-color: transparent;
  border: 1px solid #9b9a9a;
  margin-bottom: 16px;
}
input:focus {
  outline: none;
}
.inputCont {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}
.nextPrev {
  background-color: #34eb7a;
  color: white;
  padding: 8px 24px 8px 24px;
  border: none;
}
.nextPrev:disabled {
  background-color: #9b9a9a;
}
.buttonCont {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  justify-content: space-between;
}
.cont {
  margin-bottom: 32px;
}
h1 {
 text-align: center;
 margin-top: 24px;
 margin-bottom: 24px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);

  width: 25px;
  height: 25px;
  border-width: thin
}
.prev{
  background-color:transparent;
  color: #b11f23;
  padding: 8px 24px 8px 24px;
  border: 1px solid #b11f23;

}