.stepContainer {
  display: flex;
  flex-direction: column;
}
.stepContainer2 {
  display: flex;
  text-align: start;
  color: black;
  flex-direction: column;
  width: 100%;
  padding: 12px;
}
.containerForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  align-items: center;
}
.stepAlign {
  display: flex;
  flex-direction: column;
}
input {
  width: 75%;
  padding: 6px;
  border: 1px solid #9b9a9a;
  margin-bottom: 16px;
}
.inputContOver {
  display: flex;
}
.input100 input {
  width: 100% !important;
}
.inputContOver button {
  height: 28px;
  width: 28px;
  border: 0.5px solid #9b9a9a;
}
.inputContOver button:focus {
  outline: none;
}
.contOver {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.contOver label {
  font-size: 15px;
}
.inputContOver button i {
  margin-right: 0px;
  color: rgb(102, 102, 102);
}
.inputOver:disabled {
  width: 50%;
  padding: 3px;
  font-size: 14!important;
  background-color: #dbdada;
  font-weight: 600;
  border: 1px solid #9b9a9a;
  color: black;
  margin-bottom: 16px;
}
.inputOver {
  width: 50%;
  padding: 3px;
  font-size: 14!important;
  border: 1px solid #9b9a9a;
  margin-bottom: 16px;
}
.selectOver:disabled {
  width: 50%;
  padding: 3px;
  font-size: 14;
  font-weight: 600;

  color: black;
  background-color: #dbdada;
  border: 1px solid #9b9a9a;
  margin-bottom: 16px;
}
.selectOver {
  width: 50%;
  padding: 3px;
  font-size: 14!important;
  background-color: white;
  border: 1px solid #9b9a9a;
  margin-bottom: 16px;
}
select {
  width: 100%;
  padding: 6px;
  background-color: white;
  border: 1px solid #9b9a9a;
  margin-bottom: 16px;
}
input:focus {
  outline: none;
}
.inputCont {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}
.nextPrev {
  background-color: #34eb7a;
  color: white;
  padding: 8px 24px 8px 24px;
  border: none;
}
.nextPrev:disabled {
  background-color: #9b9a9a;
}
.buttonCont {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.buttonContstep12{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cont {
  margin-bottom: 32px;
}
h1 {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.selectOverLast{
  width: 50% !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);

  width: 25px;
  height: 25px;
  border-width: thin;
}
.prev {
  background-color: transparent;
  color: #b11f23;
  padding: 8px 24px 8px 24px;
  border: 1px solid #b11f23;
}
@media only screen and (max-width: 1000px) {
  input {
    width: 100%;
  }
  .inputOver {
    width: 100%;
  }
  .inputOver:disabled {
    width: 100%;
  }
  .selectOver:disabled {
    width: 100%;
    padding: 3px;
    font-size: 14;
    background-color: #dbdada;
    border: 1px solid #9b9a9a;
    margin-bottom: 16px;
  }
  .selectOver {
    width: 100%;
    padding: 3px;
    font-size: 14!important;
    background-color: white;
    border: 1px solid #9b9a9a;
    margin-bottom: 16px;
  }
  .selectOverLast{width: 100% !important;}
}
