.container-kontakt-purple {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    text-transform: uppercase;
    color: white;
    font-size: 1.8rem;
    background-color: #7a2a81;
    width: 100%;
    margin-bottom: 20px;
}

.containter-kontakt {
    padding: 50px 0px 50px 0px;
}

.col-gmap {
    align-self: start;
    justify-content: center;
}

.col-kontakt {
    align-self: flex-start;
}

.accordion-button {
    font-weight: 600;
}

.accordion-button:not(.collapsed) {
    background-color: #F8F8F8;
    color: #FF8C00;
}

.accordion-button:focus {
    border-color: 0;
    box-shadow: none;
    outline: none;
}

.h3-kontakt {
    font-size: 16px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.p-kontakt {
    font-size: 15px;
}

.span-kontakt {
    font-weight: 600;
}

.a-kontakt-link {
    color: #FF8C00;
    text-decoration: none;
    cursor: pointer;
    transition: all 600ms;
}

.a-kontakt-link:hover {
    color: #B11F23;
    transition-duration: 600ms;
}

.gmap {
    height: 600px;
    width: 100%;
}

.form-upit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.p-upit {
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px;
}

.input-upit {
    border-color: gray;
    margin-bottom: 0px;
    width: 90%;
}

.textarea-upit {
    border-color: gray;
    resize: none;
    width: 90%;
}

.span-btn-upit {
    text-align: center;
    margin: 0px;
}

.btn.btn-dark.form-upit {
    text-align: center;
    margin: 20px 0px 0px 0px!important;
    font-size: 14px;
}

@media screen and (min-width: 767px) and (max-width: 992px) {

    .container-kontakt-purple {
        margin-bottom: 0px;
    }
    
    .containter-kontakt {
        padding: 0px;
    }

    .row-kontakt-page {
        display: flex;
        flex-direction: column;
        --bs-gutter-x: 0rem;
    }

    .gmap {
        height: 450px;
        width: 100%;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {

    .container-kontakt-purple {
        margin-bottom: 0px;
    }

    .containter-kontakt {
        padding: 0px;
    }

    .row-kontakt-page {
        display: flex;
        flex-direction: column;
        --bs-gutter-x: 0rem;
    }

    .gmap {
        height: 450px;
        width: 100%;
    }

    .btn.btn-dark.form-upit {
        text-align: center;
        margin: 20px 0px 40px 0px!important;
        font-size: 12px;
    }
}