.section-prijava {
    background-color: #F3A51E;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7.5rem;
    text-transform: uppercase;
}

.container-prijava {
    display: flex;
    flex-direction: row;
}

.a-prijava {
    font-size: medium;
    text-decoration: none;
    color: #F8F8F8;
    font-weight: 600;
}

.a-prijava:hover {
    color: #B11F23;
}

.row {
    align-items: center;
    display: flex;
}

.col-prijava {
    text-align: center;
}

.fa {
    margin-right: 5px;
}

.div-galerija {
    background-color: #F8F8F8;
    height: 300px;
}

.div-putovanja {
    display: flex;
    justify-content: center;
    background-color: #F3A51E;
    height: 8rem;
}

.div-putovanja-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.h3-putovanja {
    color: #F8F8F8;
    font-weight: 600;
    font-size: larger;
    text-align: center;
    
}

.p-putovanja {
    color: #F8F8F8;
    font-weight: 200;
    font-size: medium;
    text-align: center;
    
}

.div-cards-kategorije {
    padding: 35px;
    background-color: #F8F8F8;
}

.row-cards {
    flex-direction: row;
}

.col-cards {
    margin-bottom: 20px;
}

.card {
    border: 0px;
}

.card-title {
    font-size: medium;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.card-img {
    border-radius: 0;
    height: 200px;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
    transition: background-color 800ms;
}

.card-img-overlay:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    transition-duration: 800ms;
}

.card-img-overlay:hover div {
    font-weight: 600;
}

@media screen and (min-width: 767px) and (max-width: 992px) {
    .a-prijava {
        font-size: smaller;
        text-decoration: none;
        color: #F8F8F8;
        font-weight: 600;
    }

    .row-prijava {
        flex-direction: column;
    }

    .col-prijava {
        text-align: inherit;
        padding-bottom: 8px;
    }

    .h3-putovanja {
        font-size: large;
    }

    .p-putovanja {
        font-size: small;
    }

    .row-cards {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        width: 80%;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .a-prijava {
        font-size: smaller;
    }

    .div-cards-kategorije {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .row-prijava {
        flex-direction: column;
    }

    .col-prijava {
        text-align: inherit;
        padding-bottom: 8px;
    }

    .h3-putovanja {
        font-size: medium;
    }

    .p-putovanja {
        font-size: smaller;
    }

    .row-cards {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        width: 100%;
    }
}