.container-prijava-ostala {
  display: flex;
  flex-direction: column;
}

.div-prijava-ostala-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3A51E;
  height: 10rem;
  margin: 10px 0px 30px 0px;
  padding: 0px 60px 20px 60px;
}

.h1-prijava-ostala {
  color: #f8f8f8;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}

.p-prijava-ostala {
  font-size: 14px;
  color: #f8f8f8;
}

.a-prijava-skolska {
  color: #f8f8f8;
  text-decoration: none;
  font-weight: 600;
  transition: all 400ms;
}

.a-prijava-skolska:hover {
  color: #B11F23;
  cursor: pointer;
  transition-duration: 400ms;
}

.div-radio {
  display: flex;
  flex-direction: row;
}

.input-radio {
  width: min-content;
  float: left;
  margin: 5px 20px 0px 0px;
}

.span-btn {
  display: flex;
  justify-content: center;
  margin: 25px 0px 25px 0px;
}

.p-form {
  font-size: 16px;
}

@media screen and (min-width: 767px) and (max-width: 992px) {

  
  
}

@media screen and (min-width: 0px) and (max-width: 768px) {

  .div-prijava-ostala-head {
    height: 12rem;
    margin-bottom: 30px;
    padding: 0px;
  }

  .h1-prijava-ostala {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .p-prijava-ostala {
    text-align: center;
    font-size: 13px;
    margin: 0px 20px 0px 20px;
  }

  .container-prijava-ostala {
    width: 90%;
  }

  .p-form {
    font-size: 14px;
  }

  .label-radio {
    font-size: 14px;
  }

  .input-form {
    height: 35px;
  }

  .btn.btn-dark.prijava-ostalo {
    font-size: 13px;
  }
}