div.ftours-yellow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    background-color: #F3A51E;
    width: 100%;
}

div.ftours-red {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    background-color: #b01f23;
    width: 100%;
}

div.ftours-purple {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    background-color: #7a2a81;
    width: 100%;
}

div.ftours-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    background-color: #28397E;
    width: 100%;
}