.container-nav {
    width: 80%;
}

.logo {
    max-width: 40%;
    height: auto;
}

.navbar {
    font-size: small;
    text-transform: uppercase;
}

.dropdown-item {
    font-size: small;
    transition: background-color 400ms;
}

.dropdown-item:hover {
    background-color: #F3A51E;
    transition-duration: 400ms;
}

@media screen and (max-width: 992px) {
    .container {
        width: 100%;
    }

    .navbar-brand {
        width: 75%;
    }
}