footer{
    background-color: #363948;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    color: white;
    padding: 4rem 1rem;
}

footer a{
    color: white;
    text-decoration: none;
    transition: color 0.3s ;
}

footer a:hover{
    color: #F3A51E;
}

span:hover{
    cursor: pointer;
}

h3:hover{
    cursor: pointer;
    color: #F3A51E;
    transition: color 0.3s;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.footer-main{
    display: flex;
    margin-bottom: 4rem;
}

.footer-column{
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;
}

.footer-heading{
    margin-bottom: 1rem;
}

.footer-link{
    display: block;
    width: max-content;
    padding: 5px 10px;
    margin: 0 auto;
}

.footer-bottom{
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;
}

.copyright{
    margin-right: auto;
}

.footer-social{
    font-size: 20px;
    margin-left: 2rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 960px) {
    .footer-main{
        flex-direction: column;
    }
}